<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CsView</title>
</head>
<body>

<ul>
    <table>
        <tr>
            {{ range .Header }}
            <td>{{ . }}</td>
            {{ end }}
        </tr>
        {{ range .Body }}
        <tr>
            <td>{{ . }}</td>
        </tr>
        {{ end }}
    </table>
</ul>

</body>
</html>